@import '../utilities/variables';

.textarea {
  background-color: $background-color-light;
  resize: none;
  outline: none;
  @apply p-3 rounded border border-orange-400 w-full;

  &::placeholder {
    color: rgba($color: #000000, $alpha: 0.5);
  }

  // &:focus {
  //   outline: 1px solid red;
  // }
}
