@import '../../styles/variables', '../../styles/mixins';

$color-light: color-mod(#000 a(20%));
$color-dark: color-mod(theme('colors.primary') a(40%));

.Simple-card {
  border: 1px solid $color-light;
  border-radius: 5px;
  width: 100%;
  margin: 0.5rem 0;
  max-width: 319px;

  display: flex;
  flex-direction: column;

  $self: &;

  &__header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgba($color: #000000, $alpha: 0.1);
  }

  &__content {
    height: 100%;
    padding: 1rem;
    font-size: 1.2rem;

    #{ $self }__title {
      color: theme('colors.warning');
    }

    #{ $self }__text {
      font-size: 0.9rem;
    }

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  body.dark & {
    border: 1px solid $color-dark;

    &__content {
      color: $font-color-dark;
      background-color: rgb(37, 37, 37);
    }
  }
}

@include media(sm) {
  .Simple-card {
    width: 45%;
    margin: 0.5rem;
  }
}

@include media(lg) {
  .Simple-card {
    width: 31.5%;
  }
}
