@import '../../../styles/utilities/variables';

.Radio {
  @apply flex items-center mr-4 mb-4;
  $Radio: &;

  &__label {
    @apply flex items-center cursor-pointer text-base;

    &:hover {
      #{ $Radio }__circle {
        transform: scale(1.2);
      }
    }
  }

  &__circle {
    transition: background 0.2s, transform 0.2s;
    border-color: #a0aec0;
    @apply w-5 h-5 inline-block mr-2 rounded-full border; // flex-no-shrink

    &:hover {
      transform: scale(1.2);
    }

    body.dark & {
      border-color: #656e79;
    }
  }

  &__input {
    display: none;

    &:checked + {
      #{$Radio}__label {
        font-weight: 500;
        #{$Radio}__circle {
          background-color: theme('colors.orange.700');
          box-shadow: 0px 0px 0px 2px white inset;

          body.dark & {
            box-shadow: 0px 0px 0px 2px $font-color-light inset;
          }
        }
      }
    }
  }
}
