// font color app
$font-color-light: rgba(
  $color: #000,
  $alpha: 0.7,
);

$font-color-dark: rgb(219, 219, 219);

// background app
$background-color-light: #ebebeb;

$background-color-dark: rgba(
  $color: #000,
  $alpha: 0.9,
);

// toolbar color
$toolbar-color-scroll-light: theme('colors.primary');
$toolbar-color-scroll-dark: theme('colors.blue.900');

// shadows app 0px 13px 17px -5px rgba(0,0,0,0.76)
$shadow-dark: 2px 0px 7px rgba(170, 170, 170, 0.2);
$shadow-light: 2px 0px 7px rgba($color: #000000, $alpha: 0.5);

$side-drawer-color-light: rgb(221, 221, 221);
$side-drawer-color-dark: rgb(43, 43, 43);

$border-bottom-light: rgba($color: #000000, $alpha: 0.1);
$border-bottom-dark: rgba($color: #fff, $alpha: 0.1);