@import 'variables', 'mixins';

@import '../../node_modules/magic.css/assets/scss/magic.scss';

body {
  max-height: 100vh;
  background-color: $background-color-light;
  transition: background-color 0.3s ease-in-out;
  color: $font-color-light;

  &.dark {
    background-color: $background-color-dark;
    color: $font-color-dark;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* bar */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  width: 100%;
}

@include media(xs) {
  ::-webkit-scrollbar {
    width: 3px;
  }

  .container {
    width: 95%;
  }
}

@include media(sm) {
  .container {
    width: 90%;
  }
}

@include media(md) {
  .container {
    width: 85%;
  }
}

@include media(lg) {
  .container {
    width: 100%;
  }
}

.custom-spinner {
  width: 100%;
  position: absolute;
  height: 165px;
  display: flex;
  align-items: center;
  left: 0;
  overflow: hidden;
  transition: all .5s ease-in;
}

/* Spinner Wave */
$spCol: #000;
.sp {
  width: 7rem;
  height: 7rem;
  clear: both;
  margin: 20px auto;
}
.sp-wave {
  border-radius: 50%;
  position: relative;
  opacity: 1;
}
.sp-wave:before,
.sp-wave:after {
  content: '';
  border: 2px theme('colors.orange.900') solid;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
}
.sp-wave:before {
  transform: scale(1, 1);
  opacity: 1;
  -webkit-animation: spWaveBe 0.6s infinite linear;
  animation: spWaveBe 0.6s infinite linear;
}
.sp-wave:after {
  transform: scale(0, 0);
  opacity: 0;
  -webkit-animation: spWaveAf 0.6s infinite linear;
  animation: spWaveAf 0.6s infinite linear;
}
@-webkit-keyframes spWaveAf {
  from {
    -webkit-transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes spWaveAf {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes spWaveBe {
  from {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
@keyframes spWaveBe {
  from {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
