@import 'variables', 'mixins';

@import '../../node_modules/magic.css/assets/scss/magic.scss';

body {
  max-height: 100vh;
  background-color: $background-color-light;
  transition: background-color 0.3s ease-in-out;
  color: $font-color-light;

  &.dark {
    background-color: $background-color-dark;
    color: $font-color-dark;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* bar */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  width: 100%;
}

@include media(xs) {
  ::-webkit-scrollbar {
    width: 3px;
  }

  .container {
    width: 95%;
  }
}

@include media(sm) {
  .container {
    width: 90%;
  }
}

@include media(md) {
  .container {
    width: 85%;
  }
}

@include media(lg) {
  .container {
    width: 100%;
  }
}

$color-loader: indigo;

.loader-backdrop {
  height: 100vh;
  width: 100%;
  background-color: #eaecfa;
  z-index: 300;
  position: absolute;
  top: 0;
  left: 0;
  .loader {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: $color-loader;
    letter-spacing: 0.2em;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      background: $color-loader;
      position: absolute;
      animation: load 0.7s infinite alternate ease-in-out;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

/**
 * ==============================================
 * Dot Windmill
 * ==============================================
 */
.dot-windmill {
  position: relative;
  top: -10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  transform-origin: 5px 15px;
  animation: dot-windmill 2s infinite linear;
}

.dot-windmill::before,
.dot-windmill::after {
  content: '';
  display: inline-block;
  position: absolute;
}

.dot-windmill::before {
  left: -8.66px;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
}

.dot-windmill::after {
  left: 8.66px;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
}

@keyframes dot-windmill {
  0% {
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotateZ(720deg) translate3d(0, 0, 0);
  }
}

.custom-spinner {
  width: 100%;
  position: absolute;
  top: 22vh;
  height: 165px;
  display: flex;
  align-items: center;
  left: 0;
  overflow: hidden;
  transition: all .5s ease-in;
}

/* Spinner Wave */
$spCol: #000;
.sp {
  width: 7rem;
  height: 7rem;
  clear: both;
  margin: 20px auto;
}
.sp-wave {
  border-radius: 50%;
  position: relative;
  opacity: 1;
}
.sp-wave:before,
.sp-wave:after {
  content: '';
  border: 2px theme('colors.orange.900') solid;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
}
.sp-wave:before {
  transform: scale(1, 1);
  opacity: 1;
  -webkit-animation: spWaveBe 0.6s infinite linear;
  animation: spWaveBe 0.6s infinite linear;
}
.sp-wave:after {
  transform: scale(0, 0);
  opacity: 0;
  -webkit-animation: spWaveAf 0.6s infinite linear;
  animation: spWaveAf 0.6s infinite linear;
}
@-webkit-keyframes spWaveAf {
  from {
    -webkit-transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes spWaveAf {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes spWaveBe {
  from {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
@keyframes spWaveBe {
  from {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
