@import 'variables';
.web-developer {
  color: black;

  body.dark & {
    color: #fff;
  }
}

.image-shadow {
  box-shadow: $shadow-light;

  body.dark & {
    box-shadow: $shadow-dark;
  }
}

.landing-item {
  height: 100vh;
}

.home-section {
  background-color: brown;
}

.aboutme-section {
  background-color: aquamarine;
}

.projects-section {
  background-color: blueviolet;
}

.contact-section {
  background-color: cadetblue;
}
