@import 'variables';
.web-developer {
  color: black;

  body.dark & {
    color: #fff;
  }
}

.image-shadow {
  box-shadow: $shadow-light;
  margin-bottom: .5rem;

  body.dark & {
    box-shadow: $shadow-dark;
  }
}

.landing-item {
  height: 100vh;
}

.contact-section {
  background-color: cadetblue;
}
