@import 'utilities/variables';

body {
  max-height: 100vh;
  background-color: $background-color-light;
  transition: background-color 0.3s ease-in-out;
  color: $font-color-light;
  font-size: 16px;

  &.dark {
    background-color: $background-color-dark;
    color: $font-color-dark;
  }
}

@import 'base/pseudo-elements', 'base/globals', 'components/Button';
