.toolbar {
  position: fixed;
  z-index: 90;
  width: 100%;
  top: 0;
  left: 0;
  height: 56px;
  transition: background-color 0.2s ease-in;
  /* no default color */
  background-color: transparent;

  &.toolbar-scroll {
    background-color: color-mod(theme('colors.primary') a(95%));
  }

  .toolbar-navigation {
    display: flex;
    align-items: center;
    height: 100%;
    // padding: 0 1rem;

    .toolbar-logo {
      margin-left: 1rem;
      width: 35px;
      a {
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
      }
    }

    .toolbar-navigation-items {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
      }

      li {
        padding: 0 0.5rem;
      }

      a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        position: relative;

        // create animated underline
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 3px;
          bottom: -5px;
          left: 0;
          background: #fff;
          visibility: hidden;
          border-radius: 5px;
          transform: scaleX(0);
          transition: 0.25s linear;
        }

        // display underline
        &:hover:before,
        &:focus:before {
          visibility: visible;
          transform: scaleX(1);
        }

        // set other underline when link is active
        &.active::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 3px;
          bottom: px;
          left: 0;
          background: #fff;
          visibility: visible;
          border-radius: 5px;
          transform: scale(1);
          transition: 0.25s linear;
        }
      }

      // changes styles when you have "invert" class
      &.invert {
        a {
          color: rgba($color: #000000, $alpha: 0.8);
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: -5px;
            left: 0;
            background: theme('colors.warning');
            visibility: hidden;
            border-radius: 5px;
            transform: scaleX(0);
            transition: 0.25s linear;
          }

          &:active,
          &:hover {
            color: theme('colors.warning');
          }

          &:hover:before,
          &:focus:before {
            visibility: visible;
            transform: scaleX(1);
          }

          // set other underline when link is active
          &.active::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: px;
            left: 0;
            background: theme('colors.warning');
            visibility: visible;
            border-radius: 5px;
            transform: scale(1);
            transition: 0.25s linear;
          }
        }
      }
    }
  }

  .spacer {
    flex: 1;
  }
}

@media (min-width: 768px) {
  .toolbar-button {
    display: none;
  }

  .toolbar .toolbar-navigation {
    .toolbar-logo {
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .toolbar .toolbar-navigation-items {
    display: none;
  }
}
