@import '../../styles/variables', '../../styles/mixins';

$toolbar-height: 56px;

.toolbar {
  position: sticky;
  z-index: 90;
  width: 100%;
  top: 0;
  left: 0;
  height: $toolbar-height;
  transition: background-color 0.1s ease-in;
  padding-right: 8px;
  background-color: color-mod(theme('colors.primary') a(90%));
  box-shadow: $shadow-light;

  body.dark & {
    background-color: $toolbar-color-scroll-dark;
    box-shadow: $shadow-dark;
  }

  &.toolbar-scroll {
    background-color: $toolbar-color-scroll-light;
    box-shadow: $shadow-light;
    border-bottom: none;

    body.dark & {
      background-color: $toolbar-color-scroll-dark;
      box-shadow: $shadow-dark;
      border-bottom: none;
    }
  }

  .toolbar-navigation {
    display: flex;
    align-items: center;
    height: $toolbar-height;

    .toolbar-logo {
      margin-left: 1rem;
      width: 35px;
    }

    .toolbar-navigation-items {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
      }

      li {
        padding: 0 0.5rem;
      }

      a {
        color: $font-color-light;
        text-decoration: none;
        font-weight: bold;
        position: relative;

        &:hover {
          color: theme('colors.warning');
        }

        // create animated underline
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 3px;
          bottom: -5px;
          left: 0;
          background: theme('colors.warning');
          visibility: hidden;
          border-radius: 5px;
          transform: scaleX(0);
          transition: 0.25s linear;
        }

        // set other underline when link is active
        &.active:before {
          visibility: visible;
          transform: scaleX(1);
        }

        // when dark mode is active
        body.dark & {
          color: $font-color-dark;

          &:hover {
            color: color-mod(theme('colors.warning') b(10%));
          }

          &:before {
            background: color-mod(theme('colors.warning') b(10%));
          }
        }
      }
    }
  }

  .spacer {
    flex: 1;
  }
}

@media (min-width: 768px) {
  .toolbar-button {
    display: none;
  }

  .toolbar .toolbar-navigation {
    .toolbar-logo {
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .toolbar .toolbar-navigation-items {
    display: none;
  }
}

@include media(xs) {
  .toolbar {
    padding-right: 3px;
  }
}
