@import '../../styles/variables', '../../styles/mixins';

$toolbar-height: 56px;

.toolbar {
  position: fixed;
  z-index: 90;
  width: 100%;
  top: 0;
  left: 0;
  height: $toolbar-height;
  transition: background-color 0.1s ease-in;
  padding-right: 8px;
  /* no default color */
  background-color: transparent;
  border-bottom: 1px solid $border-bottom-light;

  body.dark & {
    border-bottom: 1px solid $border-bottom-dark;
  }

  &.toolbar-scroll {
    background-color: $toolbar-color-scroll-light;
    box-shadow: $shadow-light;
    border-bottom: none;

    body.dark & {
      background-color: $toolbar-color-scroll-dark;
      box-shadow: $shadow-dark;
      border-bottom: none;
    }
  }

  .toolbar-navigation {
    display: flex;
    align-items: center;
    height: $toolbar-height;

    .toolbar-logo {
      margin-left: 1rem;
      width: 35px;
    }

    .toolbar-navigation-items {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
      }

      li {
        padding: 0 0.5rem;
      }

      a {
        color: $font-color-light;
        text-decoration: none;
        font-weight: bold;
        position: relative;

        body.dark & {
          color: $font-color-dark;
        }

        // create animated underline
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 3px;
          bottom: -5px;
          left: 0;
          background: #fff;
          visibility: hidden;
          border-radius: 5px;
          transform: scaleX(0);
          transition: 0.25s linear;
        }

        // display underline
        &:hover:before,
        &:focus:before {
          visibility: visible;
          transform: scaleX(1);
        }

        // set other underline when link is active
        &.active::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 3px;
          bottom: px;
          left: 0;
          background: #fff;
          visibility: visible;
          border-radius: 5px;
          transform: scale(1);
          transition: 0.25s linear;
        }
      }

      // changes styles when you have "invert" class
      &.invert {
        a {
          color: rgba($color: #000000, $alpha: 0.8);
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: -5px;
            left: 0;
            background: theme('colors.warning');
            visibility: hidden;
            border-radius: 5px;
            transform: scaleX(0);
            transition: 0.25s linear;
          }

          &:active,
          &:hover {
            color: theme('colors.warning');
          }

          &:hover:before,
          &:focus:before {
            visibility: visible;
            transform: scaleX(1);
          }

          // set other underline when link is active
          &.active::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: px;
            left: 0;
            background: theme('colors.warning');
            visibility: visible;
            border-radius: 5px;
            transform: scale(1);
            transition: 0.25s linear;
          }
        }
      }
    }
  }

  .spacer {
    flex: 1;
  }
}

@media (min-width: 768px) {
  .toolbar-button {
    display: none;
  }

  .toolbar .toolbar-navigation {
    .toolbar-logo {
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .toolbar .toolbar-navigation-items {
    display: none;
  }
}

@include media(xs) {
  .toolbar {
    padding-right: 3px;
  }
}
