@import '../../styles/variables';

.list {
  position: absolute;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  border-radius: 5px;

  .lang {
    display: flex;
    cursor: pointer;
    padding: 0.3rem;
    transition: background-color 0.3s ease;
    color: rgba($color: #000000, $alpha: 0.5);
    position: relative;

    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &.active {
      font-weight: bold;
      color: $font-color-light;
      background-color: rgba($color: #000000, $alpha: .1);
    }

    &:hover {
      color: theme('colors.warning');
    }

    span {
      margin-left: 0.5rem;
    }
  }
}

.btn {
  cursor: pointer;
}
