@import '../../styles/variables';

// .modal-container {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 1050;
//   // display: none;
//   flex-direction: column;
//   justify-content: center;
//   background-color: rgba($color: #000000, $alpha: 0.4);
//   -webkit-overflow-scrolling: touch;
//   outline: 0;
//   overflow: hidden;
//   visibility: hidden;
//   transform: scale(0.1);
//   transition: all 0.5s ease-in;

//   .modal.open & {
//     // display: flex;
//     visibility: visible;
//     transform: scale(1);
//   }
// }

.Modal {
  max-width: 500px;
  width: 95%;
  background-color: $background-color-light;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  margin: 20% auto;
  border-radius: 5px;
  box-shadow: 1px 2px 15px rgba($color: #000000, $alpha: 0.5);

  body.dark & {
    background-color: rgb(36, 36, 36);
  }

  $Modal: &;

  &__header {
    width: 100%;
    text-align: left;
    font-weight: bold;
    padding-bottom: 0.5rem;

    #{ $Modal }__button {
      position: absolute;
      right: 0.8rem;
      top: 0.3rem;
      cursor: pointer;
    }
  }
}
