@import '../../styles/utilities/variables';

.Modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.4);
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn;

  transform: translateY(100%);
  transition: transform 0.2s ease-in-out;

  body.dark & {
    background-color: rgba($color: #06121a, $alpha: 0.4);
  }

  &--show {
    transform: translateY(0);
  }

  &--hide {
    transition: transform 0.2s 0.3s;
    transform: translateY(100%);
  }

  $Modal: &;

  &__card {
    position: relative;
    width: 95%;
    max-width: 500px;
    background-color: $background-color-light;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: 0.2);
    padding: 1rem;

    transform: scale(0);
    transition: transform 0.3s 0.2s;

    body.dark & {
      background-color: rgb(36, 36, 36);
      box-shadow: 0px 0px 2px rgba($color: #000000, $alpha: 0.2);
      color: $font-color-dark;
    }

    .Modal.Modal--show & {
      transform: scale(1);
    }

    .Modal.Modal--hide & {
      transition: transform 0.3s ease-in-out;
      transform: scale(0);
    }

    #{ $Modal }__header {
      width: 100%;
      text-align: left;
      font-weight: bold;
      padding-bottom: 0.5rem;

      #{ $Modal }__close-button {
        position: absolute;
        right: 0.8rem;
        top: 0.3rem;
        cursor: pointer;
      }
    }
  }
}
