@import '../utilities/mixins', '../utilities/variables';

select,
textarea,
input {
  background-color: rgb(243, 242, 242);
  resize: none;
  @apply block w-full border border-gray-200 py-3 px-4 pr-8 shadow appearance-none rounded leading-tight;

  &:focus {
    @apply outline-none shadow-outline;
  }

  &::placeholder {
    color: rgba($color: #000000, $alpha: 0.4);

    body.dark & {
      color: rgb(68, 68, 68);
    }
  }

  body.dark & {
    background-color: $background-color-dark;
    color: $font-color-dark;
    @apply border-gray-800;
  }
}

option {
  background-color: $background-color-light;
  color: $font-color-light;
  body.dark & {
    background-color: $background-color-dark;
    color: $font-color-dark;
  }
}

.container {
  max-width: 950px;
  margin: 0 auto;
  width: 95%;

  @include media(sm) {
    width: 90%;
  }

  @include media(md) {
    width: 85%;
  }

  @include media(lg) {
    width: 100%;
  }
}

.svg-icon {
  fill: currentColor;
  width: 1rem;

  &.toolbar-icon {
    width: 1.2rem;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.landing-full-screen {
  min-height: calc(100vh - 56px);
}

.label-error {
  color: rgb(207, 67, 32);
  font-size: 12px;

  animation: fadeInDown 350ms;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
